@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

button {
  font-family: monospace;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing:  .13em;
  padding: 0.05em 1em !important;
  border-width: 0 0 1px 0 !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: monospace;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing:  .13em;
  font-weight: 100;
}

.badge {
  font-variant: small-caps;
  text-transform: lowercase;
  font-family: monospace;
}

body {
  letter-spacing: 0.03rem;
}
