
$black: #1F000A;
$body-bg: $black;
$white: #EFFFD5;
$body-color: $white;
$link-color: $secondary*1.1;
$link-hover-decoration: wavy underline $link-color /1.5;
$paragraph-margin-bottom: 0.5rem;
$grid-gutter-width: 20px;
$gray-700: #312021;
$border-color: $gray-700;
$border-radius-lg: 0.3rem;
$enable-hover-media-query: true;
$font-weight-bold: 600;
$display1-size: 5.4rem;
$table-cell-padding: 0.4rem;
$table-cell-padding-sm: 0.1rem;
$table-accent-bg: rgba($white, .05);
$red: #8B3131;
$orange: #91793C;
$yellow: #89A147;
$green: #79A659;
$teal: #70A66B;
$blue: #657586;
$indigo: #5A4E68;
$purple: #92547C;
$pink: #BB6B7C;
$cyan: #6AAC8A;
$primary: $yellow;
$table-bg-level: 3;
$table-border-level: -2;
$gray-900: #260D13;
$breadcrumb-bg: $gray-900;
$gray-800: #2D1A1C;
$input-bg: $gray-800;
$progress-bg: $gray-900;
$gray-600: #423F37;
$jumbotron-bg: $gray-600;
$table-head-bg: $gray-800;
$pagination-bg: $gray-900;
$list-group-bg: $gray-900;
$table-hover-bg: rgba($white, .075);
$modal-content-bg: $gray-700;
$input-disabled-bg: $gray-900;
$alert-padding-y: 0.5rem;
$alert-bg-level: 8;
$alert-color-level: -8;
$alert-border-level: 0;
$btn-disabled-opacity: 0.5;
$gray-300: #879E81;
$btn-link-disabled-color: $gray-300;
$input-color: $gray-300;
$gray-400: #647D64;
$input-placeholder-color: $gray-400;
$input-group-addon-bg: $gray-600;
$gray-200: #AABE9D;
$input-group-addon-color: $gray-200;
$gray-500: #535E4E;
$input-group-addon-border-color: $gray-500;
$custom-control-cursor: pointer;
$custom-control-indicator-size: 0.9rem;
$custom-control-indicator-border-color: $gray-600;
$custom-control-label-color: $gray-400;
$custom-select-disabled-color: $gray-700;
$custom-file-bg: $gray-800;
$nav-link-padding-y: 0.5rem;
$nav-tabs-link-active-bg: $gray-800;
$nav-tabs-link-active-border-color: $primary $primary $nav-tabs-link-active-bg;
$nav-tabs-link-active-color: $primary *1.5;
$secondary: $pink;
$code-color: $purple*1.15;
$gray-100: #CDDFB9;
$dropdown-link-color: $gray-100;
$dropdown-link-hover-bg: $gray-800;
$dropdown-link-hover-color: darken($gray-100, 5%);
$dropdown-border-color: $gray-500;
$dropdown-divider-bg: $gray-500;
$pagination-hover-bg: $gray-800;
$pagination-hover-color: $link-color*1.2;
$pagination-hover-border-color: $gray-600;
$pagination-border-color: $gray-700;
$pagination-active-border-color: $pagination-border-color*1.2;
$pagination-disabled-bg: $gray-700;
$pagination-disabled-border-color: $gray-700;
$jumbotron-padding: 1rem;
$card-spacer-x: 1rem;
$card-spacer-y: 0.5rem;
$card-border-color: $gray-500;
$card-bg: $gray-700;
$card-img-overlay-padding: 1rem;
$popover-bg: $gray-900;
$popover-border-color: $gray-700;
$popover-header-padding-y: 0.4rem;
$toast-header-color: $gray-300;
$toast-background-color: $gray-800;
$toast-border-color: $gray-800;
$toast-header-background-color: $gray-700;
$toast-header-border-color: $gray-600;
$dropdown-bg: $gray-700;
$thumbnail-border-color: $gray-700;
$list-group-border-color: $border-color;
$text-muted: $gray-400;
$component-active-bg: $gray-800;
$component-active-color: $primary*1.4;
$dark: $gray-700;
$table-dark-color: $gray-100;
$warning: $orange;
$link-hover-color: lighten($link-color, 15%);
$headings-line-height: 1.7;
$headings-color: $primary  / 1.25;
$btn-font-weight: $font-weight-bold;
$lead-font-weight: 500;
$blockquote-small-color: $gray-300;
$hr-border-color: $gray-400;
$table-dark-hover-bg: $table-dark-bg;
$font-family-monospace: Ubuntu Mono;
$btn-font-family: $font-family-monospace;
$input-border-color: $gray-600;
$form-feedback-invalid-color: $danger*2.5;
$form-feedback-valid-color: $success*1.2;
$dropdown-link-disabled-color: $gray-300;
$pagination-disabled-color: $gray-400;
$list-group-color: $white;
$list-group-hover-bg: $gray-800;
$list-group-active-bg: $gray-800;
$display1-weight: 200;
$display2-weight: 200;
$display3-weight: 200;
$display4-weight: 200;
$modal-content-border-color: $modal-content-bg*2;
$modal-header-border-color: $modal-content-bg*2;
$code-font-size: 110%;
$close-color: $danger*2;
$close-text-shadow: 0 1px 0 $danger;
$font-weight-lighter: 200;
$headings-font-weight: 200;
$h1-font-size: $font-size-base * 2.6;
$h2-font-size: $font-size-base * 2.1;
$h3-font-size: $font-size-base * 1.9;
$h4-font-size: $font-size-base * 1.6;
$h5-font-size: $font-size-base * 1.3;
$h6-font-size: $font-size-base *1.15;
$headings-font-family: sirin stencil;
$badge-font-weight: $font-weight-light;
$carousel-control-color: $gray-200;
$carousel-control-opacity: 0.7;
$carousel-control-hover-opacity: 1;
$carousel-indicator-width: 38px;
$enable-gradients: true;
$enable-shadows: true;
$font-family-sans-serif: darker grotesque;
$line-height-base: 1.4;
$form-feedback-icon-valid-color: $success;
$nav-tabs-border-color: $primary;
$nav-link-disabled-color: $gray-300;
$nav-tabs-link-hover-border-color: $secondary /2 $secondary /2 $nav-tabs-border-color;
$tooltip-opacity: 1;
$tooltip-bg: $gray-900;
$tooltip-padding-y: 0.4rem;
$tooltip-padding-x: 0.6rem;
$tooltip-margin: 0.5;
$tooltip-arrow-height: 0.5rem;
$tooltip-arrow-color: $gray-700;
$popover-header-bg: $popover-bg /1.2;
$popover-arrow-color: $popover-border-color;
$badge-padding-y: 0.25em;
$badge-padding-x: 0.3em;
$link-decoration: wavy underline $link-color /2;
$spinner-border-width: 0.2em;
$spinner-width-sm: 0.5rem;